.boardInfo {
    text-align: center;
}

.divider {
    width: 50%;
}

.footerPadding {
    margin-top: 100px;
}


.boardEditForm {
    margin-bottom: 20px;
        
    .boardNameField {
        margin: 20px 0;
    }
}
