.toolbar {
    margin: 30px 0;

    // TODO:
    // https://css-tricks.com/flexbox-like-just-put-elements-in-a-row-with-css-grid/
    // Make buttons take a smaller space

    .content {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: row;
        padding: 15px;
        // height: 80px;

        .searchbar {
            width: 100%;
            margin-bottom: 20px;
        }
        div {
            svg {
                height: 100%;
                width: 40px;
                margin-left: 20px;
                margin-right: 20px;
                flex: 0 0 10%;
            }
        }
        .lineBreak {
            width:100%;
        }

        .dropdown {
            width:100%;
        }
    }
}